@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin responsive($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    //your responsive css
  }
}
